.container_prof {
	margin: auto;
	width: 80%;
	border-left: 1.5px #688490 solid;
	border-right: 1.5px #688490 solid;
	border-bottom: 1.5px #688490 solid;
	border-radius: 2px;
	border-spacing: 2px;
}

.container_prof label {
	color: #0D6186;
	text-align: center;
}

.container_prof .nav {
	border-color: #E7E7E7;
	width: 100%;
}

.thumbnail_prof {
	border-width: 2px;
	border-style: solid;
	border-color: #688490;
	width: 100%;
	height: 100px;
	margin: 40%;
	text-align: center;
	font-size: 30px;
}

.thumbnail_prof:hover {
	background-color: #FFC500;
}

#myExam {
	width: 'auto';
}



#blah {
	width: 200;
	height: 300px;
}

.Qimpaire {
	background-color: rgba( 173, 216, 230,0.5);
	padding-left: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 4px;
	margin-top : 25px;
	margin-bottom : 25px;
}

#numberQ {
	color: #0D6186;
}

.Qpaire {
	background-color: rgba(237, 195, 83,0.5);
	padding-left: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 4px;
	margin-top : 25px;
	margin-bottom : 25px;
}

.width-100{
	width : 100%!important;
}
.padding-left-100{
	padding-left:100px;
}
.align-right{
	text-align:right;
}
.align-left{
	text-align:left;
}
.margin-top-20{
	margin-top: 20px;
}
.green{
	color: #00cc00;
}
.red{
	color: #cc0000; 
}
.list-question-display{
	font-weight : bold;
	font-size: 20px;
	color: #0D6186;
}
.question-filter{
	background-color: rgba( 173, 216, 230,0.5);
}
.glyphicon-remove:hover {
    cursor: pointer;
}

