.container_prof {
	margin: auto;
	width: 80%;
	border-left: 1.5px #688490 solid;
	border-right: 1.5px #688490 solid;
	border-bottom: 1.5px #688490 solid;
	border-radius: 2px;
	border-spacing: 2px;
}

.container_prof label {
	color: #0D6186;
	text-align: center;
}

.container_prof .nav {
	border-color: #E7E7E7;
	width: 100%;
}



.thumbnail_prof div{
	height: 150px;
	margin-top: 20%;
	margin-bottom : 20%;
	padding-top : 11%;
	text-align: center;
	font-size: 30px;
	border-width: 2px;
	border-style: solid;
	border-color: rgba(13,97,134,0.5);
}
.thumbnail_prof{
	text-decoration: none !important;
}

.thumbnail_prof div:hover {
	border-color: rgba(13,97,134,1);
	
}

#myExam {
	width: 'auto';
}



#blah {
	width: 200;
	height: 300px;
}

.Qimpaire {
	background-color: rgba( 173, 216, 230,0.5);
	padding-left: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 4px;
	margin-top : 25px;
	margin-bottom : 25px;
}

#numberQ {
	color: #0D6186;
}

.Qpaire {
	background-color: rgba(237, 195, 83,0.5);
	padding-left: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 4px;
	margin-top : 25px;
	margin-bottom : 25px;
}

.width-100{
	width : 100%!important;
}
.padding-left-100{
	padding-left:100px;
}
.align-right{
	text-align:right;
}
.align-left{
	text-align:left;
}
.margin-top-20{
	margin-top: 20px;
}
.green{
	color: #00cc00;
}
.red{
	color: #cc0000; 
}
.list-question-display{
	font-weight : bold;
	font-size: 20px;
	color: #0D6186;
}
.question-filter{
	background-color: rgba( 173, 216, 230,0.5);
}
.question-select{
	margin-left:10px;
}
.glyphicon-remove:hover {
    cursor: pointer;
}

#title_Exam{
	font-size: 25px;
		margin-left: 20%;
	
}

.view_details_exam{
	margin-left: 20%;
}

.check_good_answer{
	margin-left: 80%;
}