#student-qcm-settings-part-2{
	display: none;	
}

.selected-chapter{
	background-color: #0D6186;
	color: white;
}

.chapters-list{
	height: 150px;
	overflow-x: hidden;
}

.student-module-list{
	height:150px;
}

.settings-container{
	margin-bottom: 25px;
	margin-top: 50px;
	padding-left: 0;
	padding-right: 0;
}

.qcm-nav, .qcm-nav .previous, .qcm-nav .next{
	padding-left: 0;
	padding-right: 0;
}

#qcm-time{
	text-align: center;
}

.question-number{
	margin-top: -12px;
}

.qcm-container{
	margin-top: 60px;
}

#student-qcm-question-container{
	margin-bottom: 30px;
}

.settings-center{
	display: inline-block;
	text-align: center;
}

.settings-center #number-of-questions{
	display: inline-block;
	width: 40%;
}

.settings-center #question-level, .settings-center input{
	display: inline-block;
	width: 25%
}

.settings-scale{
	margin-top: 50px;
}

#student-qcm-settings-part-2 .settings-nav{
	margin-top: 50px;
}

.settings-nav{
	display: inline-block;
	text-align: right;
}

.student-qcm-question{
	text-align: center;
}

#student-qcm-question-container{
	padding-left: 40px;
	padding-right: 40px;
	box-shadow: 1px 1px 12px #555;
}

.good-answer{
	color: green;
}

.bad-answer{
	color: red;
}

.answered-question{
	display: inline-block;
	background-color: green;	
	width : 25px;
	height : 25px;
}


.unanswered-question{
	display: inline-block;
	background-color: orange;
	width:25px;
	height:25px;
}

.td-answered{
	text-align: right;
}

.history-container{
	margin-top: 15px;
}

.link-student-training a{
	text-decoration : none;
	text-align: center;
	font-size : 24px;
}
.link-student-training a:hover .thumbnail{
	border-color : rgba(13,97,134,1);
}
@media screen and (min-width: 544px) {
	.link-student-training div{
		padding: 50px;
	}
}