#student-qcm-settings-part-2{
	display: none;	
}

.student-qcm-question{
	text-align: center;
}

#student-qcm-question-container{
	padding-left: 40px;
	padding-right: 40px;
	box-shadow: 1px 1px 12px #555;
}

.good-answer{
	color: green;
}

.bad-answer{
	color: red;
}

.answered-question{
	display: inline-block;
	background-color: green;	
	width : 25px;
	height : 25px;
}


.unanswered-question{
	display: inline-block;
	background-color: orange;
	width:25px;
	height:25px;
}

.td-answered{
	text-align: right;
}

.link-student-training a{
	text-decoration : none;
	text-align: center;
	font-size : 24px;
}
.link-student-training a:hover .thumbnail{
	border-color : rgba(13,97,134,1);
}
@media screen and (min-width: 544px) {
	.link-student-training div{
		padding: 50px;
	}
}