<nav class="navbar navbar-default">
		<div class="container-fluid">
  			<div class="row">
  				<div class="col-xs-2">
  					<a href="/student"><img src="@routes.Assets.versioned("images/logo_isep_training.png")"></a>
  				</div>
  				<div class="col-sm-7 hidden-xs padding-10">
  					<div class="isep_training_title">
  						<span class="dark-blue">ISEP</span> 
  						<span class="dark-grey">Training</span>
  					</div>
  				</div>
  				<div class="col-sm-3  center welcome-label">
  					<a href="@routes.StudentController.studentHistory()"><div class="dark-blue hidden-xs">Bienvenue @(session.get("fn").substring(0, 1).toUpperCase() + session.get("fn").substring(1)) @(session.get("ln").substring(0, 1).toUpperCase() + session.get("ln").substring(1))</div><a></a>
  					<a href="/logout">
  						<button class="btn btn-danger">
  							<span class="hidden-xs">Déconnexion</span>
  							<span class="glyphicon glyphicon-off visible-xs" aria-hidden="true"></span>
  						</button>
  					</a>
  				</div>
  			</div>	
		</div>
	</nav>  