
<img class="img-bckg" src="@routes.Assets.versioned("images/dessin3.svg")"/>
   <nav class="navbar navbar-default">
  		<div class="container-fluid">
  			<div class="row">
  				<div class="col-sm-2 col-xs-8">
  					<img class="isep_logo" src="@routes.Assets.versioned("images/logo_isep.png")">
  				</div>
  				<div class="col-sm-7 hidden-xs padding-10">
  					<div class="isep_training_title"><span class="dark-blue">Institut Supérieur d'Électronique de Paris</span></div>
  				</div>
  			</div>
  		</div>
	</nav> 