@(message: String)

@main("IsepTraining - Student"){
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="row margin-top-20">
					<div class="col-xs-12 col-sm-5 col-md-10 link-student-training">
						<a href='@routes.StudentController.studentQcmSettings()'>
							<div class="thumbnail">
								Entrainement personnalisé
							</div>
						</a>	
					</div>
				</div>
				<div class="row margin-top-20">
					<div class="col-xs-12 col-sm-5 col-md-10 link-student-training">
						<a href='@routes.StudentController.courseTest()'>
							<div class="thumbnail">
								Test de cours
							</div>
						</a>	
					</div>
				</div>
				<div class="row margin-top-20">
					<div class="col-xs-12 col-sm-5 col-md-10 link-student-training">
						<a href='@routes.StudentController.examMode()'>
							<div class="thumbnail">
								Mode Examen
							</div>
						</a>	
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<h3>Qcm en cours</h3>
				<table class="currents-qcm table table-bordered table-hover">
					<tr>
						<th>#</th>
						<th>Qcm</th>
						<th>Date</th>
						<th>nombre de questions</th>
					</tr>
				</table>
			</div>
		</div>
	</div>
}