@(message: String, modules: ArrayList[Module], chapters: ArrayList[Chapter])
@main("Générer un Qcm"){

<div class="container">
    <div class="student-qcm-settings">
       <div class="col-md-10 col-md-offset-1" id="student-qcm-settings-part-1">
            <div>
                <div class="col-md-4">
                    <ul class="list-group" id="module">
                        @for(module <- modules){
                            <li class="list-group-item" id="id-module-@module.getId_module">@module.getModule_name</li>
                        }
                    </ul>
                </div>
                <div class="col-md-1 btn-lg">
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </div>
                <div class="col-md-4">
	                @for(module <- modules){
	                	<ul class="chapters-list list-group" id="chapters-module-@module.getId_module">
	                        @for(chapter <- chapters){
	                        	@if(chapter.getId_module == module.getId_module){
	                            	<li class="list-group-item" id="id-chapter-@chapter.getId_chapter"> @chapter.getChapter_name </li>
                            	}
	                        }
	                    </ul>
	                }
                </div>
            </div>
            <div class="col-md-4 col-md-offset-6">
                <a href='@routes.StudentController.index()'><button type="button" class="btn btn-lg btn-default">Retour</button></a>
                <button type="button" class="btn btn-lg btn-default col-md-offset-1" id="pass-to-settings-second-part">Suivant</button>
            </div>
        </div>

        <div id="student-qcm-settings-part-2">
            <div class="col-md-12">
                <div class="col-md-3">
                    <h3>Nombre de questions</h3>
                    <select name="number-of-questions" id="number-of-questions" class="form-control">
                        @for(i <- 1 until 11){
                              <option>@(i*5)</option>
                        }
                    </select>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <h3>Temps imparti</h3>
                    <div class="col-md-4">
                        <select name="qcm-time-hours" id="qcm-time-hours" class="form-control">
                            @for(i <- 1 until 4){
                                  <option>@(i)</option>
                            }
                        </select>
                    </div>
                    <p class="col-md-2">H</p>
                    <div class="col-md-4">
                        <select name="qcm-time-minutes" id="qcm-time-minutes" class="form-control">
                            @for(i <- 1 until 13){
                                  <option>@(i*5)</option>
                            }
                        </select>
                    </div>    
                    <p class="col-md-2">Min</p>
                </div>

                <div class="col-md-3 col-md-offset-1">
                    <h3>Difficulté</h3>
                    <select name="question-level" id="question-level" class="form-control">
                        @for(i <- 1 until 4){
                              <option>@(i)</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-6">
                <button type="button" class="btn btn-lg btn-default" id="back-to-settings-first-part">Retour</button>
                <button type="button" class="btn btn-lg btn-default col-md-offset-1" id="send-qcm-settings">Commencer</button>
            </div>
        </div>
    </div>
</div>

}