@(message: String, question: models.Question, answers: ArrayList[models.Answer], qcm_info: models.Qcm)
@main("Qcm Personnalisé"){

<div class="container">
   <div class="row">
   <div class="qcm-container" id="qcm-@qcm_info.getId_qcm">
       <div class="col-md-8 col-md-offset-2" id="student-qcm-question-container">
        <h3 class="student-qcm-question" id="question@question.id_question">@question.question</h3>
        
        <form action="#" class="form-horizontal col-md-offset-2">
			<input type="hidden" name="id_qcm" value=@qcm_info.getId_qcm>
			<input type="hidden" id="nb-of-answers" name="nb-of-answers" value="@answers.size">
            @for((answer, index) <- answers.zipWithIndex){
            <div class="form-group">
                <label class="col-md-12">
                	<input type="hidden" name="id-answer-@index" value=@answer.getId_answer>
                    <input type="checkbox" name="answer@index" value="@answer.getId_answer" class="answer" id="answer@answer.getId_answer" >
                    <span class="col-md-offset-1" id="answer-@answer.getId_answer">@answer.getAnswer</span>
                </label>

            </div>
            }
        </form>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <button class="qcm_question_nav btn btn-lg btn-primary" id="last-question">Précédent</button>
        </div>
        <div class="col-md-1 col-md-offset-2" id="qcm-time">@qcm_info.getTime</div>
        <div class="col-md-2 col-md-offset-2">
        	<span class="last-question" id="number-of-question-@qcm_info.getNumber_of_questions"></span>
            <button class="qcm_question_nav btn btn-lg btn-primary" id="next-question">Suivant</button>
        </div>
    </div>
   </div>
   </div>
</div>
}