@(modules: ArrayList[Module], chapters: ArrayList[Chapter])

@main("IsepTraining - Course Test"){
		<div class="container">
			<a href="@routes.StudentController.index">Home</a> / <a href="">Test de cours</a>
			<div class="row">
				<div class="col-sm-1 col-xs-3 padding-10">
					Module : 
				</div>
				<div class="col-sm-4 col-xs-9">
					<select class="form-control" id="test_module_select" name="test_module_select">
						<option value="0">Aucun</option>
						@for(module <- modules){
							<option value="@module.getId_module">@module.getModule_name</option>
						}
					</select>
				</div>
			</div>
			<div class="row margin-top-20" id="test_result_from_select"></div>
			<div class="row margin-top-20">
				<div class="col-xs-12">
					<a href='@routes.StudentController.index()'><button type="button" class="btn btn-default">Retour</button></a>
				</div>
			</div>
		</div>
		<div class="modal fade" id="test_cours_modal_password" role="dialog" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"></h4>
					</div>
					<div class="modal-body center">
						<h3>Mot de passe</h3>
						<form id="form-modal-test-student">
							<input type="password" id="test_student_password" name="test_student_password">
							<input type="hidden" name="student_test_id_test" id="student_test_id_test">
							<input type="hidden" name="student_test_title" id="student_test_title">
						</form>
					</div>
					<div class="modal-footer">
						<div class="row">
							<div class="col-sm-6 align-left">
								<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
							</div>
							<div class="col-sm-6 align-right">
								<button id="test-student-modal-btn-confirmation" class="btn btn-primary">OK</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
}