@(message: String, modules: ArrayList[Module])
@main("Mode Examen"){

<div class="container">
    <div class="student-qcm-settings">
      <a href="@routes.StudentController.index">Home</a> / <a href="">Mode Examen</a>
       <div class="row" id="student-exam-mode">
            <div class="settings-container col-md-8 col-md-offset-2">
                <div class="col-md-6">
                    <ul class="student-module-list list-group" id="module">
                        @for(module <- modules){
                            <li class="list-group-item" id="id-module-@module.getId_module">@module.getModule_name</li>
                        }
                    </ul>
                    <input type="text" class="col-md-12" id="search-module">
                </div>
                <div class="col-md-1 btn-lg">
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </div>
                <div class="exam-for-module col-md-5">
	               	<ul class="list-group" id="exam-list">
		                        
	                </ul>
	            </div>
            </div>
            <div class="settings-nav col-md-8 col-md-offset-2">
                <a href='@routes.StudentController.index()'><button type="button" class="btn btn-lg btn-warning">Retour</button></a>
                <button type="button" class="btn btn-lg btn-primary col-md-offset-1" id="start-exam">Valider</button>
            </div>
        </div>
    </div>
</div>

}