@(message: String, question: models.Question, answers: ArrayList[models.Answer], qcm_info: models.Qcm)
@main("Qcm Personnalisé"){

<div class="container">
  <a href="@routes.StudentController.index">Home</a> / <a href="@routes.StudentController.studentQcmSettings">Paramètres</a> / <a href="">Qcm personnalisé</a>
   <div class="row">
   
   
   		<div class="modal fade" id="preview-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-question" id="myModalLabel">Avancement du Qcm</h4>
                	</div>
	                <div class="modal-body">
	                	<div class="modal-qcm-preview">
	                		<table class="modal-preview-table table table-hover">
	                			
	                		</table>
	                	</div>
	                </div>
	                <div class="modal-footer">
	                	<button class="preview-correct-qcm">Corriger le Qcm</button>
	                </div>
	            </div>
	        </div>
	    </div>
	    
	    
	    
   <div class="qcm-container row" id="qcm-@qcm_info.getId_qcm">
       <div class="col-md-8 col-md-offset-2" id="student-qcm-question-container">
        <h3 class="student-qcm-question" id="question@question.getId_question">@question.getQuestion</h3>
        
        <form action="#" class="form-horizontal col-md-offset-2">
			<input type="hidden" name="id_qcm" value=@qcm_info.getId_qcm id="id_qcm">
			<input type="hidden" id="nb-of-answers" name="nb-of-answers" value="@answers.size" id="nb-of-answers">
            @for((answer, index) <- answers.zipWithIndex){
            <div class="form-group">
                <label class="col-md-12">
                	<input type="hidden" name="id-answer-@index" value=@answer.getId_answer>
                    <input type="checkbox" name="answer@index" value="@answer.getId_answer" class="answer" id="answer@answer.getId_answer" >
                    <span class="col-md-offset-1" id="answer-@answer.getId_answer">@answer.getAnswer</span>
                </label>

            </div>
            }
        </form>
    </div>
    <div class="qcm-nav col-md-12">
        <div class="previous col-md-2 col-md-offset-2">
            <button class="qcm_question_nav btn btn-lg btn-primary btn-block" id="last-question">Précédent</button>
        </div>
        <div class="col-md-2 col-md-offset-1" >
			<div class="question-number col-md-12">
				<a id="qcm-preview" data-toggle="modal" data-target="#preview-modal">
					<h4>Question <span class="question-num"></span> sur @qcm_info.getNumber_of_questions</h4>
				</a>
			</div>       
        	<div class="col-md-8 col-md-offset-2" id="qcm-time">@qcm_info.getTime</div>
        </div>
        <div class="next col-md-2 col-md-offset-1">
        	<span class="last-question" id="number-of-question-@qcm_info.getNumber_of_questions"></span>
            <button class="qcm_question_nav btn btn-lg btn-primary btn-block" id="next-question">Suivant</button>
        </div>
    </div>
   </div>
   </div>
</div>
}